@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
}
:root {
  --color-bg: #171a26;
  --color-bg-varient: #2f313c59;
  --color-primary: #2e313c;
  --color-btn-hover: #454851;
  --color-white: #fff;
  --color-logo: #23bd6b;
  --color-light: rgba(255, 255, 255, 0.6);
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
  --transition: all 400ms ease;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

::-webkit-scrollbar {
  display: none;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
}

img {
  display: block;
  padding: 5px;
  object-fit: cover;
}
button {
  cursor: pointer;
}

/*======================== MEDIA QUERIES (MEDIUM DEVICES) ========================*/

/* @media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
} */

/*======================== MEDIA QUERIES (SMALL DEVICES) ========================*/

/* @media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
} */
