.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalContainer {
  max-width: 50rem;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 90%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: var(--color-white);
  color: black;
}

.modalRight {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.closebtn {
  position: fixed;
  top: 0.8rem;
  right: 0.8rem;
  font-size: 3rem;
  cursor: pointer;
}

.Content {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Content h2 {
  margin: 1rem 0;
  width: 50%;
  text-align: center;
}
.Content input {
  width: 90%;
  border: 1px solid rgb(116, 109, 109);
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 1rem auto;
}

.btnContainer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.btnContainer button {
  margin: 0 3rem;
  background-color: var(--color-logo);
  color: var(--color-white);
  padding: 1.4rem 3rem;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 3rem;
}
