.container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.container p {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--color-light);
  text-transform: lowercase;
  margin: 0 0.5rem;
}
.container h2 {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 30rem;
}
.product_details {
  display: flex;
  align-items: center;
  width: max-content;
}
.product_details span {
  font-size: 1.7rem;
  margin: 0 0.5rem;
  color: var(--color-logo);
}

.product_details p{
    text-decoration: line-through;
}